<template>
  <div id="app">
    <div class="wrapper">
      <div class="header">
        <Header msg="THIS IS THE HEADER" />
      </div>
      <div class="calendar">
        <Calendar />
      </div>
      <div class="footer">
        <Footer msg="THIS IS THE FOOTER"/>
      </div>
    </div>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Calendar from './components/Calendar.vue'

export default {
  name: 'app',
  components: {
    Header,
    Footer,
    Calendar
  },
  data() {
    return {
      pageName: 'Vue App'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100%;
    grid-template-areas: 
      "header"
      "calendar"
      "footer";
    background-color: #fff;
    color: #444;
    margin: 0 auto;
}
.header {
  grid-area: header;
}
.footer {
  grid-area: footer;
}
.calendar {
  grid-area: calendar;
}
</style>
